body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);

}

/* HEADER */
header {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    width: 100%;
}

#tituloPagina {
    margin-bottom: 0;
    font-weight: lighter;
    padding-right: 150px;

}

#listaBotonesHeader {
   padding: 0%;
   padding-right: 150px;
   
}

.boton {
    border: none;
    background-color:rgb(224, 224, 224);
    border-radius: 5px;
}

.boton:hover {
    background-color: rgba(128, 128, 128, 0.171);
}

/* BODY */
#contenedorMeme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
}

#meme {
    width: 100%;
    max-width: 610px;
    height: 610px;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

#imagenMeme {
    flex-grow: 1;
    background-size: cover;
    margin: 0;
}

.textoMeme {
    background-color: white;
    width: 100%;
    color: black;
    text-align: center;
    padding: 35px 0px;
    font-size: 25px;
    font-weight: 800;
    font-family: Verdana;
    margin: 0;
    
}

#botonDescargarMeme {
    margin-top: 170px;
    padding: 15px 15px;
    height: auto;
    background-color: #2e7d32;
    color: white;
    border: #2e7d32;
    border-radius: 5px;
    position: relative;
}

#botonDescargarMeme:hover {
    background-color: #1d6120;
}

/*BARRA LATERAL*/ 
.contenedorAside {
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:white;
    padding: 30px 15px;
    overflow: auto;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

aside {
    height: auto; 
    max-height: calc(100% - 30px); 
    overflow-y: auto; 
    padding: 10px;
}


.aside h2 {
    font-size: 12px;
    text-align: center;

}

/*BARRA LATERAL IMG*/
.botonAsideImg {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin: 5px;
 
}

/*BARRA LATERAL TXT*/
.botonAsideTxt {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#botonTextoSuperior {
   width: 90%;
}

#botonTextoInferior {
    width: 90%;
 }

#sinTextoSuperior {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

#sinTextoInferior {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

#fondoTransparente {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}


/* FOOTER */ 

footer p {
  color: rgba(128, 128, 128, 0.13);  
  text-align: center;
  padding-right: 20%;
}



/*ESTILOS MODO OSCURO//
/* Estilos para el modo oscuro */
.modo-oscuro {
    background-color: #121212ce;  
}

.modo-oscuro header {
    background-color: #0e0d11b4;
}

.modo-oscuro #contenedorBotonesHeader {
    background-color:transparent;
}

.modo-oscuro #tituloPagina {
    color: white;
}

.modo-oscuro label {
    color: white;
}

.modo-oscuro .boton {
    background-color:#0e0d11b4;
    color: white;
}

.modo-oscuro i {
    color: aliceblue;
}

.modo-oscuro h2 {
    color: white;
}

/*DISEÑO RESPOSIVO */
/*Móvil */

@media (max-width: 768px) {
    body {
        margin: 10%;
    }

    header {
        flex-direction: column;
       margin-bottom: 15px;
    }

    #tituloPagina {
        font-size: 30px;
        padding-right: 0;
        text-align: center;
    }

    #listaBotonesHeader {
        padding: 0;
        margin-top: 10px;
    }

    .boton {
        margin: 5px 0;
    }

    #contenedorMeme {
        padding-left: 20%;
    }

    #meme {
        height: auto;
    }

    .textoMeme {
        font-size: 18px;
        padding: 20px 0;
    }

    #botonDescargarMeme {
        width: 100%;
        padding: 10px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .contenedorAside {
        width: 100%;
        position: relative;
        background-color: #fff;
        padding: 10px;
        height: auto;
    }

    .aside h2 {
        font-size: 18px;
    }

    footer p {
        padding-right: 0;
    }

    /*MODO OSCURO MÓVIL*/
    .modo-oscuro {
    background-color: #121212ce;  
}

.modo-oscuro header {
    background-color: #0e0d11b4;
}

.modo-oscuro #tituloPagina {
    color: white;
}

.modo-oscuro label {
    color: white;
}

.modo-oscuro .boton {
    background-color:#0e0d11b4;
    color: white;
}

.modo-oscuro i {
    color: aliceblue;
}

.modo-oscuro h2 {
    color: white;
}
}

